* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.price_name {
  color: #000;
}

a {
  text-decoration: none;
  color: rgb(245, 244, 244);
}

p {
  color: rgb(194, 181, 181);
}
.content-btn {
  color: #fff;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .row {
   display: flex;
   flex-wrap: nowrap;
   overflow-x: auto;
   -webkit-overflow-scrolling: touch;
   -ms-overflow-style: -ms-autohiding-scrollbar; 
}

.box-container {
  flex: 0 0 auto; 
} */

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.categories {
  margin: 60px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.small-container h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.2rem;
}

.col-4 {
  flex-basis: 50%;
  padding: 10px;
  max-width: 220px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

/* .categoryBtn img {
  width: 50%;
  height: 100px;
  border-radius: 50%;
} */

.col-4 img {
  width: 100%;
  height: 200px;
}

.categoryBtn{
  background-image: linear-gradient(to right, rgb(183, 215, 243) , rgb(206, 197, 230));
  border-radius: 30px;
  padding-left: 0px;
  padding-right: 0px;
}
.categoryBtn h5{
  background-image: linear-gradient(to right, rgb(183, 215, 243) , rgb(206, 197, 230));
  border-radius: 30px;
  display: block;
  margin: auto;
  width: 60%;
  position: relative;
  top: 20px;
  border: 1px solid rgb(26, 243, 109);
  border-radius: 50px;
  background-image: linear-gradient(to right, rgb(188, 235, 195) , rgb(78, 245, 142));
  font-weight: bold;
  font-family: sans-serif;
}
.categoryBtn img {
  width: 50%;
  height: 100px;
  border-radius: 50%;
}

.title {
  color: rgb(41, 36, 36);
  position: relative;
  line-height: 60px;
}

.box-container {
  height: 340px;
  box-shadow: 0 8px 6px -6px rgba(104, 99, 99, 0.712); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.title::after {
  content: "";
  background: #210583;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #fff;
  background: ;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.rating .fa {
  color: #ffbf00;
}

.col-4:hover {
  transform: translateY(-5px);
}

.col-4 img:hover {
  background: url(./techbg.jpg);
}

.box-container .image-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 1;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.box-container:hover .image-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.box-container:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}
#favoriteBtn{
  color: white;
  position: relative;
  top: 29px;
  left: 55px;
}
#favoriteBtn:hover{
  color: red;
}

#favorite{
  position: relative;
  left: 86px;
}

.fadeIn-bottom {
  top: 80%;
  background: rgba(0, 0, 0, 0.7);
  padding: 75px;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}

/* google maps */
#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}
/* ----offer--- */
.offer {
  background-color: #000;
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px;
  width: 32rem;
}

small {
  color: #555;
}

/* --------brands--------- */
.brands {
  margin: 100px auto;
}

.col-5 {
  width: 100px;
}

.col-5 img {
  height: 50px;
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  filter: grayscale(0);
}

.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  text-decoration: none;
  list-style: none;
}

.app-logo {
  margin-top: 20px;
}

.app-logo img {
  height: 50px;
  width: 50px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
  filter: invert(100);
}

nav {
  padding: 0px 100px;
  position: relative;
}
.navbar-form .form-group input {
  width: 500px;
}
#bars,
#search_close {
  display: none;
}
/* ------------ media query for menu -------------------- */

@media only screen and (max-width: 800px) {
  .navbar {
    padding: 0px;
  }

  .navbar-form .form-group input {
    width: 100%;
  }
  .nav {
    display: none;
  }

  #search_close {
    color: red;
    font-size: 25px;
  }

  #search_open {
    margin-right: 10px;
  }

  .search_area {
    display: none;
  }

  #bars {
    position: absolute;
    top: 15px;
    right: 20px;
    color: lightgray;
    font-size: 22px;
    display: block;
  }
  .content-details h3 {
    color: #fff;
    font-weight: 250;
    font-size: 20px;
    margin-bottom: 0.5em;
  }
  .content-details h4 {
    color: #fff;
    font-weight: 250;
    font-size: 17px;
    margin-bottom: 0.5em;
  }
}
@media only screen and (min-width: 800px) {
  .search_area {
    display: block;
  }
}


/* categroy slider css */
/* categroy slider css */
/* categroy slider css */
/* categroy slider css */
/* categroy slider css */
/* ----------below-------- */
.catMainDiv{
  width: 100%;
  display: flex;
  overflow-x: auto;
  padding-bottom: 8px;
}
.catDiv{
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.catDiv img{
  border-radius: 50%;  
  max-width: 70px;
  max-height: 70px;
  margin-bottom: 3px;
}
.catDiv p{

  font-family: sans-serif;
  color: rgb(88, 37, 37);
}

#whatsappDiv {
  width: 100px;
  position: fixed;
  bottom: 10px;
  right: -10px;
}
#whatsappDiv img{
  height: 60px;
  width: 60px;
}
